[Unit]
Description=PC/SC over HTTP service

[Service]
Type=simple
WorkingDirectory=/home/pi/.pcsc-over-http
ExecStart=/home/pi/.nvm/nvm-exec npm start
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pcsc-over-http
User=nobody
Group=nobody
Environment=NODE_VERSION=current
Restart=on-abort

[Install]
WantedBy=multi-user.target